* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.memory-game {
    min-width: 500px;
    height: 95%;
    min-height: 500px;
    flex-basis: 80%;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-rows: repeat(4, minmax(50px, 200px));
    grid-template-columns: repeat(5, minmax(50px, 200px));
    grid-gap: 10px;
    perspective: 1000px;
    color: #fff;
    font-size: 3rem;
    position: relative;
    padding: 20px 0;
    transition: transform .3s ease;
}

.memory-game.hide {
    transform: translateX(-1%);
}

.memory-card {
    margin: 5px;
    position: relative;
    transform: scale(1);
    transition: all .5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(.97);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.7);
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}


/* BUTTON STYLES */
button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
}

button:active,
button:focus {
    outline: none;
}


/* SETTINGS STYLES */
.settings {
    height: 100%;
    flex-grow: 0;
    padding: 20px 20px 0 20px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: all .3s ease;
}

.settings.hide {
    transform: translateX(-100%);
    flex: 0;
}

.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
}

.new-btn {
    height: 40px;
    width: 120px;
    background-color: #fff;
    text-transform: uppercase;
}

.time {
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.2rem;
}

.time-number {
    font-size: 2rem;
}


/* LEVEL STYLES */
.level {
    color: #fff;
    font-size: 1.2rem;
    display: block;
    padding-top: 100px;
    text-transform: uppercase;
}

.btn-container {
    padding: 1rem 0;
}

.btn-container input {
    display: none;
}

.level-label {
    cursor: pointer;
    position: relative;
    padding-left: .5rem;
}

.radio-btn i {
    padding-right: .5rem;
}

.btn-container input[type="radio"]:checked+label .radio-btn {
    color: #fa8320;
}


/* WIN TEXT STYLE */
.win-text {
    background-color: rgba(0,0,0,0.7);
    display: none;
    text-align: center;
    z-index: 10;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .settings {
        flex-basis: 10%;
    }
}

@media only screen and (max-width: 700px) {
    .memory-game {
        flex-basis: 100%;
    }

    .settings {
        transform: translateX(-100%);
        flex: 0;
        display: none;
    }

    .settings.hide {
        transform: translateX(0);
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    .body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .memory-game {
        width: 450px;
        height: 450px;
    }
}